html, body {
    margin: 0;
    overflow:hidden;
    color: rebeccapurple;
    background-attachment: fixed;
}
/*这是新的修改*/
/*这是在nzy上的修改*/
html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
}
/* this changes has happened on master branch */
body {
    overflow: hidden;
    height: inherit;
}
/* creating a branch is simple and quick */
h1 {
    font-size: 2rem;
    letter-spacing: -1px;
    position: absolute;
    margin: 0;
    top: -4px;
    right: 5px;
    color: transparent;
    text-shadow: 0 0 4px white;
}
p {
    position: absolute;
    margin: 0;
    top: 35px;
    right: 5px;
    color: #aaa;
}
/* I was added,but I'm not commited */
/* 我没被added */
